:root {
  --background-color: rgb(38, 70, 83); /* Charcoal */
  --icon-color: rgb(42, 157, 143); /* Persian-green */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background: var(--background-color);
  color: #fff;
  padding: 1rem;
}

h1 {
  font-size: 3rem;
  margin-top: 3rem;
}

i {
  color: var(--icon-color);
}
.icon {
  margin-top: 3rem;
}
